In [20]:
from datetime import date
d1=date.today()
print(d1)
print(d1.month,d1.day,d1.year)
print(d1.weekday())

2019-09-05
9 5 2019
3

In [36]:
import datetime
dt = datetime.datetime.strptime("2016-04-15T08:27:18-0500", "%Y-%m-%dT%H:%M:%S%z")
print(dt)

2016-04-15 08:27:18-05:00

In [19]:
from datetime import time
t1 = time(14, 25, 36, 18625)
print(t1)

14:25:36.018625

In [39]:
from datetime import datetime, timedelta, timezone 
JST = timezone(timedelta(hours=+9))
dt = datetime(2015, 1, 1, 12, 0, 0, tzinfo=JST) 
print(dt)

2015-01-01 12:00:00+09:00

In [48]:
from datetime import datetime, timedelta, timezone
d1=date(2015,5,21)
d2=date(2016,4,19)
d3=d2-d1
print(d3,type(d3))
print(d3.total_seconds())
print(d3*3)

334 days, 0:00:00 <class 'datetime.timedelta'>
28857600.0
1002 days, 0:00:00

In [60]:
from datetime import datetime
d3=datetime.now()
#print(d3.time())
#print(d3.date())
print(d3.date(),d3.time())
print(str(d3.month) + '-' + str(d3.day) + '-' + str(d3.year))

2019-09-05 11:29:03.097843
9-5-2019
9-5-2019

In [70]:
from datetime import datetime 
d3=datetime.now()
print(d3.strftime('%A, %B, %C, %x'))

Thursday, September, 20, 09/05/19

In [73]:
from datetime import datetime
d1=datetime.now()
print(d1.strftime('%a,%b,%c,%x'))

Thu,Sep,Thu Sep  5 11:46:24 2019,09/05/19

In [87]:
from datetime import datetime   
today=datetime.today().date()
print(today)

my_event=date(2019,12,22)

days_to_event=abs(my_event-today)
print(days_to_event)

print(days_to_event.days, 'days to event')
print(days_to_event, 'days to event')

2019-09-05
108 days, 0:00:00
108 days to event
108 days, 0:00:00 days to event

In [122]:
start_time = time.process_time()

import time
s=time.time()
print(s)
print(time.gmtime())

from datetime import datetime 
tillnow=datetime.fromtimestamp(s)
print(tillnow)

time.sleep(3)

end_time = time.process_time()

operation_executed=end_time-start_time

print(start_time, 'this is start time')
print(end_time, 'this is end time')
print(operation_executed, 'this ts the operatation executed time')

1567712733.948459
time.struct_time(tm_year=2019, tm_mon=9, tm_mday=5, tm_hour=19, tm_min=45, tm_sec=33, tm_wday=3, tm_yday=248, tm_isdst=0)
2019-09-05 12:45:33.948459
1.609375 this is start time
1.609375 this is end time
0.0 this ts the operatation executed time

In [129]:
from datetime import datetime
now = datetime.fromtimestamp(s)
print(now)
print(datetime.timestamp(now))
a=datetime.timestamp(now)
print(a)

2019-09-05 12:46:30.915397
1567712790.915397
1567712790.915397
time.struct_time(tm_year=2019, tm_mon=9, tm_mday=5, tm_hour=19, tm_min=46, tm_sec=30, tm_wday=3, tm_yday=248, tm_isdst=0)
time.struct_time(tm_year=2019, tm_mon=9, tm_mday=5, tm_hour=12, tm_min=46, tm_sec=30, tm_wday=3, tm_yday=248, tm_isdst=1)

In [124]:
import time
s=time.time()
print(s)
time.sleep(3)           # to sleep the process for a givem time 
print(time.gmtime(s))    # it converts the seconds to the datetime 
print(time.localtime(s))# it is ame like gmtime(s) which converts the seconds to the datetime. it takes the time from jan 1 1970

1567712790.915397
time.struct_time(tm_year=2019, tm_mon=9, tm_mday=5, tm_hour=19, tm_min=46, tm_sec=30, tm_wday=3, tm_yday=248, tm_isdst=0)
time.struct_time(tm_year=2019, tm_mon=9, tm_mday=5, tm_hour=12, tm_min=46, tm_sec=30, tm_wday=3, tm_yday=248, tm_isdst=1)

In [133]:
from datetime import datetime
from dateutil import tz 
local = tz.gettz() # Local time
PT = tz.gettz('US/Pacific') # Pacific time