In [61]:
#slicing

x ='harish'
print(x[2])

print(x[:2]) #ha

print(x[1:])  #rish

print(x[-2:])

r
ha
arish
sh

In [45]:
#adding and concatenation

x='kaya'+'dev'
print(x)

y=['kaya','dev']+['banglore']

a,b,c=y
print(a,b,c)

z='kayadev'*3
print(z)

kayadev
kaya dev banglore
kayadevkayadevkayadev

In [17]:
#concepet of itterating
x = [7, 8, 3]
for index, item in enumerate(x):
    print(index,item)
y = [10, 12, 14]
for index, item in enumerate(y):
    print(index,item)

0 7
1 8
2 3
0 10
1 12
2 14

In [44]:
x = [10,2,12,12]
print(len(x))
a = 'harish'
print(len(a))
print(max(x))
print(min(x))
y=['kaya','dev']+['banglore']
print(y)
print(len(y))



print(sorted(x))
print(sorted(y))
print(a.count('h'))
print(x.count(12))

ha=['harish','yada','ola']
print(ha)
a,b,c=ha
print(a,b,c)

4
6
12
2
['kaya', 'dev', 'banglore']
3
[2, 10, 12, 12]
['banglore', 'dev', 'kaya']
2
2
['harish', 'yada', 'ola']
harish yada ola

In [71]:
x = list()
y = ['a', 25, 'dog', 8.43]
tuple1 = (10, 20)
z = list(tuple1)
print(z)

a= [m for m in range(3)]
print(a)

c= [i**2 for i in range(6) if i>2]
print(c)

k=[10,2,12,14]

k.append(10
del(k[2])
print(k)

[10, 20]
[0, 1, 2]
[9, 16, 25]
[10, 2, 14, 10]

In [78]:
x=[11,12,45,4]
x.insert(1,2)
print(x)
y=[12,45,78,78]
y.insert(2,['a','b'])
x.extend(y)
print(x)

[11, 2, 12, 45, 4]
[11, 2, 12, 45, 4, 12, 45, ['a', 'b'], 78, 78]

In [89]:
x=[1,2,3,4,5,8,9,7,4,44,88]
x.pop()
print(x)
print(x.pop())

x.reverse()
print(x)

x.sort()
print(x)

[1, 2, 3, 4, 5, 8, 9, 7, 4, 44]
44
[4, 7, 9, 8, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 4, 5, 7, 8, 9]

In [99]:
x={1,2,3}
x.add(4)
print(x)

x.add(7)
print(x)
x.remove(4)
print(x)
print(len(x))
print(3 in x)
print(x.pop(),x)

{1, 2, 3, 4}
{1, 2, 3, 4, 7}
{1, 2, 3, 7}
4
True
1 {2, 3, 7}

In [110]:
x={'harish':212,'naidu':211,'pradeep':215}
print(x)

y=dict([('harish',212),('naidu',211),('pradeep',215)])
print(y)

z=dict(harish=212,naidu=211,pradeep=215)
print(z)

x['yadav']=222
print(x)

del(y['pradeep'])
print(y)

{'harish': 212, 'naidu': 211, 'pradeep': 215}
{'harish': 212, 'naidu': 211, 'pradeep': 215}
{'harish': 212, 'naidu': 211, 'pradeep': 215}
{'harish': 212, 'naidu': 211, 'pradeep': 215, 'yadav': 222}
{'harish': 212, 'naidu': 211}